# Copy this file to nodes.env and adapt it to the local infrastructure.

CHOMS_DOMAIN="chomsmaster.com"

CHOMS_EDGE_NODE="choms-node-01"
CHOMS_EDGE_IP="192.168.1.138"

CHOMS_APPLICATION_NODE="choms-node-02"
CHOMS_APPLICATION_IP="192.168.1.172"

CHOMS_STORAGE_NODE="choms-nas"
CHOMS_STORAGE_IP="192.168.1.167"
