[Unit]
Description=Run CHOMS Nextcloud GFS retention nightly

[Timer]
OnCalendar=*-*-* 04:25:00
Persistent=true
RandomizedDelaySec=5m
Unit=choms-nextcloud-gfs.service

[Install]
WantedBy=timers.target
